<article class="post">
	<header>
		<div class="postShorten-header">
			<h1 class="postShorten-title" itemprop="headline">
				<a class="link-unstyled" href="{{ .Permalink }}">
				{{ .Title }}
				</a>
			</h1>
		</div>
	<!-- <div class="post-meta">{{ .Date.Format "Mon, Jan 2, 2006" }} </div> -->
	</header>

	<div class="center">
		<a href="{{ .Params.projecturl }}"><img class="project-img" src="{{ .Param "projectImage" }}"/></a>
	</div>

		{{ .Content }}

	<footer>
	<!-- <a href='{{ .Permalink }}'><nobr>Read more →</nobr></a> -->
	</footer>
</article>
